<div class="container">
<br>
<h1>Pipes</h1>
<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ nombre }}</td>
      <td>Uppercase</td>
      <td>{{ nombre | uppercase}}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>Lowercase</td>
      <td>{{ nombre | lowercase}}</td>
    </tr>

    <tr>
      <td>{{ nombre }}</td>
      <td>Slice:3</td> 
      <!-- elimina las 3 primeras posiciones del nombre -->
      <td>{{ nombre | slice:3 }}</td>
    </tr>
    
    <tr>
      <td>{{ nombre }}</td>
      <td>Slice0:3</td> 
      <!-- aca tomara solo las primeras 3 letras, teniendo en cuenta que la primera es 0 -->
      <td>{{ nombre | slice:0:3 }}</td>
    </tr>

    <tr>
      <td>{{ arreglo }}</td>
      <td>Slice1:5</td> 
      <!-- agarra la cantidad del 1 al 5, elimando el resto -->
      <td>{{ arreglo | slice:1:5 }}</td>
    </tr>

    <tr>
      <td>{{ pi }}</td>
      <td>DecimalPipe - number </td> 
      <!-- ese es el formato obligatorio de esta propiedad pipe -->
      <td>{{ pi | number:'3.0-0' }}</td> 
    </tr>
    
    <tr>
      <td>{{ pi }}</td>
      <td>DecimalPipe - number </td> 
      <!-- ese es el formato obligatorio de esta propiedad pipe -->
      <td>{{ pi | number:'1.0-2' }}</td> 
    </tr>

    <tr>
      <td>{{ a }}</td>
      <td> Percent  </td> 
      <!-- ese es el formato obligatorio de esta propiedad pipe -->
      <td>{{ a | percent }}</td> 
    </tr>
    
    <tr>
      <td>{{ a }}</td>
      <td> Percent: '2.2-4' </td> 
      <!-- ese es el formato obligatorio de esta propiedad pipe -->
      <td>{{ a | percent:'2.2-4'}}</td> 
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td> Currency </td> 
      <!-- dolares por defecto -->
      <td>{{ salario | currency }}</td> 
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td> Currency 'EUR' </td> 
      <td>{{ salario | currency:'EUR' }}</td> 
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td> Currency:'CAD':'symbol-narrow':'4.2-2' </td> 
      <td>{{ salario | currency:'CAD':'symbol-narrow':'4.2-2'}}</td> 
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td> Currency 'CAD':'symbol-narrow':'4.0-0' </td> 
      <td>{{ salario | currency:'CAD':'symbol-narrow':'4.0-0'}}</td> 
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td> Number :'.2-2' </td> 
      <td>{{ salario | number:'.2-2'}}</td> 
    </tr>

    
    <tr>
      <td>{{ valorDePromesa }}</td>
      <td> Async </td> 
      <td>{{ valorDePromesa | async }}</td> 
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td> Date: 'normal' </td> 
      <td>{{ fecha | date }}</td> 
    </tr>
    
    <tr>
      <td>{{ fecha }}</td>
      <td> Date: 'medium' </td> 
      <td>{{ fecha | date:'medium' }}</td> 
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td> Date: 'short' </td> 
      <td>{{ fecha | date:'short' }}</td> 
    </tr>
    
    <tr>
      <td>{{ fecha }}</td>
      <td> Date: 'MMMM - dd' </td> 
      <td>{{ fecha | date:'MMMM - dd'}}</td> 
    </tr>
    
        
    <tr>
      <td>{{ nombre2 }}</td>
      <td> Capitalizado </td> 
      <td>{{ nombre2 | capitalizado }}</td> 
    </tr>
    
    <tr>
      <td>{{ nombre2 }}</td>
      <td> Capitalizado </td> 
      <td>{{ nombre2 | capitalizado:false }}</td> 
    </tr>
    
    <tr>
      <td>{{ nombre }}</td>
      <td>Contrasena: {{ activar }}
        <br>
        <button (click) = "activar = !activar"
        type="button"
        class="btn btn-outline-primary"> Activar/Desactivar
        </button>
      </td> 
      <!-- elimina las 3 primeras posiciones del nombre -->
      <td>{{ nombre | contrasena:activar }}</td>
    </tr>


  </tbody>
</table>
<h4>Slices</h4>
<ul>
  <li *ngFor="let item of arreglo | slice:5.20 ">{{ item }}</li>
  <!-- ng for se repite -->
</ul>

<h4> JSON </h4>
<pre>

  

{{ heroe | json}}

</pre>

<h1>YouTube <small>video</small></h1>

<hr>

<iframe width="560" height="315" [src]="video | donseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<br>
<br>

